<article class="postd">
  <section class="postd-head">
    <h2><%= link_to postd.title, postd_path(postd) %></h2>
    <small>
      <time><%= postd.created_at.to_date.strftime("%d %B, %Y") %></time>
      <%= link_to 'Изменить', edit_postd_path(postd) %>
      <%= link_to 'Удалить', postd_path(postd), method: :delete, data: { confirm: 'Вы уверены?'} %>
    </small>
  </section>

  <section class="postd-summary clearfix">
    <%= image_tag postd.image.url(:thumb), class: 'img-thumbnail thumb' if postd.image?%>
  </section>
</article>

